.panel-title a:before {
  font-family: 'ua-brand-symbols';
  float: right;
}
.panel-title a[aria-expanded="true"]:before {
 content: "\e631";
}
.panel-title a[aria-expanded="false"]:before {
  content: "\e62d";
}